<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.lyh.spa.meizupush">


    <!-- 小米个性化配置 需要到应用的主 manifest 中去配置-->
    <!-- the following 2 ${PACKAGE_NAME} should be changed to your package name -->
    <permission android:name="cn.lyh.spa.meizupush.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="cn.lyh.spa.meizupush.permission.MIPUSH_RECEIVE" />

    <!-- 魅族个性化配置 需要到应用的主 manifest 中去配置-->
    <!-- the following 4 ${PACKAGE_NAME} should be changed to your package name -->
    <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE"/>
    <permission android:name="cn.lyh.spa.meizupush.push.permission.MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="cn.lyh.spa.meizupush.push.permission.MESSAGE"/>
    <uses-permission android:name="com.meizu.c2dm.permission.RECEIVE" />
    <permission android:name="cn.lyh.spa.meizupush.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="cn.lyh.spa.meizupush.permission.C2D_MESSAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 华为移动服务配置,将${PACKAGE_NAME}替换为实际包名 -->
       <provider
            android:name="com.huawei.hms.update.provider.UpdateProvider"
            android:authorities="cn.lyh.spa.meizupush.hms.update.provider"
            android:exported="false"
            android:grantUriPermissions="true" />

        <!-- 统一推送配置 --> <!-- the following 4 ${PACKAGE_NAME} should be changed to your actual package name where the implemented UpsReceiver belong to -->
        <receiver android:name=".receiver.UpsReceiver">
            <intent-filter>        <!-- 接收 push 消息 -->
                <action android:name="com.meizu.ups.push.intent.MESSAGE" />
            </intent-filter>
        </receiver>

        <!-- APPID 华为移动服务配置 请将 value 替换成实际的 appid -->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="100268779" />

        <!-- 应用信息本地设置测试[可选] -->
        <meta-data
            android:name="XIAOMI_APP_ID"
            android:value="\2882303761517782127"/>
        <meta-data
            android:name="XIAOMI_APP_KEY"
            android:value="\5581778270127"/>
        <meta-data
            android:name="MEIZU_APP_ID"
            android:value="1000357"/>
        <meta-data
            android:name="MEIZU_APP_KEY"
            android:value="e7e0e4ea5ce04fab8b83695059364983"/>

    </application>

</manifest>